body {
  background-color: #fff;
}
.main {
  overflow: hidden;
  position: relative;
}
.main .moon-bg {
  background-color: #fff;
  border-radius: 500px;
  height: 1000px;
  left: -300px;
  position: absolute;
  top: -175px;
  width: 1000px;
}
.main .tab-wrap .tab {
  height: 130px;
  text-align: right;
}
.main .tab-wrap .tab.tab-1 {
  background-color: #56300A;
}
.main .tab-wrap .tab.tab-2 {
  background-color: #7A330E;
}
.main .tab-wrap .tab.tab-3 {
  background-color: #993412;
}
.main .tab-wrap .tab.tab-4 {
  background-color: #CC7018;
}
.main .tab-wrap .tab.tab-5 {
  background-color: #FFAC1E;
}
