.cast {
  body {
    .nav {
      background-color: yellow;
      height: 60px;

      ul {
        text-align: center;
        width: 100%;
        li {
          display: inline-block;
          width: 33%;
        }
      }
    }
    .banner-wrap {
      img {
        height: 350px;
        width: 100%;
      }
    }
  }
}
