.homepage {
  body {
    background-color: #666666;
    .splash-wrap {
      background-color: red;
      border: 50px solid yellow;
      height: 150px;
      margin: 0 auto;
      width: 1100px;
      ul {
        margin: 50px auto;
        padding: 0 0 0 15px;
        width: 1000px;
        li {
          background-color: white;
          display: inline-block;
          height: 100px;
          margin: 0 5px;
          position: relative;
          width: 96px;
          .mask {
            position: absolute;
            &.aa {
              background-color: black;
              height: 15px;
              left: 0px;
              top: 70px;
              width: 60px;
            }
            &.bb {
              background-color: black;
              height: 15px;
              right: 0px;
              top: 40px;
              width: 60px;
            }
            &.cc,
            &.ff,
            &.ll {
              background-color: black;
              height: 29px;
              right: 15px;
              top: 40px;
              width: 67px;
            }
            &.dd,
            &.gg,
            &.mm {
              background-color: black;
              height: 15px;
              right: 15px;
              top: 85px;
              width: 67px;
            }
            &.ee {
              background-color: black;
              height: 85px;
              right: 0px;
              top: 0px;
              width: 50px;
            }
            &.hh {
              background-color: black;
              height: 30px;
              right: 16px;
              top: 70px;
              width: 64px;
            }
            &.ii {
              background-color: black;
              height: 15px;
              right: 0px;
              top: 55px;
              width: 16px;
            }
            &.jj {
              background-color: black;
              height: 16px;
              right: 16px;
              top: 25px;
              width: 63px;
            }
            &.kk {
              background-color: black;
              height: 68px;
              right: 0px;
              top: 16px;
              width: 50px;
            }
            &.nn {
              background-color: black;
              height: 68px;
              right: 42px;
              top: 16px;
              width: 42px;
            }
            &.oo {
              background-color: black;
              height: 15px;
              right: 0px;
              top: 40px;
              width: 60px;
            }
            &.pp {
              background-color: black;
              height: 15px;
              right: 0px;
              top: 70px;
              width: 60px;
            }
          }
        }
      }
    }
    .screen-wrap {
      background-color: blue;
      border: 50px solid green;
      border-top: none;
      height: 735px;
      margin: 0 auto;
      padding-top: 35px;
      width: 1100px;
      .screen {
        background-color: #000;
        border-radius: 50%/10%;
        height: 700px;
        margin: 0 auto;
        position: relative;
        width: 930px;
        &:before {
          background: inherit;
          border-radius: 5%/50%;
          bottom: 9%;
          content: '';
          left: -5%;
          position: absolute;
          right: -5%;
          top: 9%;
        }
      }
    }
    .controls-wrap {
      background-color: purple;
      border: 50px solid yellow;
      border-top: none;
      height: 150px;
      margin: 0 auto;
      width: 1100px;
    }
  }
}
