.homepage {
  body {
    background-color: #666666;
    .frame {
      border-bottom: 30px solid #660000;
	    border-left: 100px solid transparent;
	    border-right: 100px solid transparent;
	    height: 0;
      margin: 20px auto 0;
	    width: 1000px;
    }
    .splash-wrap {
      background-color: #660000;
      border: 50px solid yellow;
      height: 150px;
      margin: 0 auto;
      width: 1100px;
      ul {
        margin: 26px auto 0 ;
        padding: 0 0 0 15px;
        width: 1000px;
        li {
          background-color: white;
          display: inline-block;
          height: 100px;
          margin: 0 5px;
          position: relative;
          width: 96px;
          .mask {
            position: absolute;
            &.aa {
              background-color: black;
              height: 15px;
              left: 0px;
              top: 70px;
              width: 60px;
            }
            &.bb {
              background-color: black;
              height: 15px;
              right: 0px;
              top: 40px;
              width: 60px;
            }
            &.cc,
            &.ff,
            &.ll {
              background-color: black;
              height: 29px;
              right: 15px;
              top: 40px;
              width: 67px;
            }
            &.dd,
            &.gg,
            &.mm {
              background-color: black;
              height: 15px;
              right: 15px;
              top: 85px;
              width: 67px;
            }
            &.ee {
              background-color: black;
              height: 85px;
              right: 0px;
              top: 0px;
              width: 50px;
            }
            &.hh {
              background-color: black;
              height: 30px;
              right: 16px;
              top: 70px;
              width: 64px;
            }
            &.ii {
              background-color: black;
              height: 15px;
              right: 0px;
              top: 55px;
              width: 16px;
            }
            &.jj {
              background-color: black;
              height: 16px;
              right: 16px;
              top: 25px;
              width: 63px;
            }
            &.kk {
              background-color: black;
              height: 68px;
              right: 0px;
              top: 16px;
              width: 50px;
            }
            &.nn {
              background-color: black;
              height: 68px;
              right: 42px;
              top: 16px;
              width: 42px;
            }
            &.oo {
              background-color: black;
              height: 15px;
              right: 0px;
              top: 40px;
              width: 60px;
            }
            &.pp {
              background-color: black;
              height: 15px;
              right: 0px;
              top: 70px;
              width: 60px;
            }
          }
        }
      }
    }
    .screen-wrap {
      background-color: blue;
      border: 50px solid green;
      border-top: none;
      height: 735px;
      margin: 0 auto;
      padding-top: 35px;
      width: 1100px;
      .screen {
        background-color: #000;
        border-radius: 50%/10%;
        height: 700px;
        margin: 0 auto;
        position: relative;
        width: 930px;
        p {
          color: #fff;
          font-family: "Emulogic";
          font-size: 50px;
          position: relative;
          text-align: center;
          top: 300px;
        }
        &:before {
          background: inherit;
          border-radius: 5%/50%;
          bottom: 9%;
          content: '';
          left: -5%;
          position: absolute;
          right: -5%;
          top: 9%;
        }
      }
    }
    .controls-wrap {
      background-color: purple;
      border: 50px solid yellow;
      border-top: none;
      height: 150px;
      margin: 0 auto;
      position: relative;
      width: 1100px;
      .buttons-wrap {
        left: 550px;
        position: relative;
        width: 0;
        .button1-base1 {
          background-color: red;
          border-radius: 80px/15px;
          height: 30px;
          position: relative;
          top: 70px;
          width: 160px;
          .button1-base2 {
            background-color: blue;
            border-radius: 80px/15px;
            height: 50px;
            left: 5px;
            position: relative;
            top: -23px;
            width: 150px;
            .button1-base3 {
              background-color: red;
              border-radius: 80px/15px;
              height: 30px;
              position: relative;
              width: 150px;
            }
          }
        }
        .button2-base1 {
          background-color: red;
          border-radius: 80px/15px;
          height: 30px;
          left: 192px;
          position: relative;
          top: 40px;
          width: 160px;
          .button2-base2 {
            background-color: blue;
            border-radius: 80px/15px;
            height: 50px;
            left: 5px;
            position: relative;
            top: -23px;
            width: 150px;
            .button2-base3 {
              background-color: red;
              border-radius: 80px/15px;
              height: 30px;
              position: relative;
              width: 150px;
            }
          }
        }
      }
      .stick-wrap {
        left: 200px;
        position: relative;
        top: 100px;
        width: 0;
        .base {
	        -webkit-border-radius: 100px / 15px;
             -moz-border-radius: 100px / 15px;
	                border-radius: 100px / 15px;
          background-color: #000;
          height: 30px;
          width: 200px;
          .pole {
            background-color: #ccc;
            border-radius: 15px/5px;
            height: 200px;
            left: 82px;
            position: absolute;
            top: -180px;
            width: 35px;
            .ball {
              background-color: red;
              border-radius: 75px;
              height: 150px;
              left: -57px;
              position: absolute;
              top: -55px;
              width: 150px;
            }
          }
        }
      }
    }
  }
}
